  
  <div style="width: 100%; background-color: #00943C; height:2cm; display:flex; justify-content: space-between; overflow: hidden;"> 
    <div style="margin: auto; width:20%">
      <img src="../../../assets/image/locatelLogo.png" alt=""  style="width: 50%;">
    </div>
    <div style="margin: auto; color:white">
      <h1>{{user}}</h1>
    </div>
    <div style="background-color:#00943C;width:5cm; margin-left:auto; margin-right:auto;">
      <button pButton class="button-cerrarSesion"  type="button" (click)="logOut()">Cerrar sesión</button>
    </div>
  </div>
