# See http://help.github.com/ignore-files/ for more about ignoring files.


# Node
front/node_modules/
menv/
backlocatel/backlocatel/__pycache__/


/node_modules
npm-debug.log
yarn-error.log

# Miscellaneous
front/.angular/cache
