<p-toast key="appToast" position="top-right"></p-toast>

<div style="padding-left:10%;padding-top: 95px; height: 100%;width:100%" class="grid">
    <div>
    <!-- <form [formGroup]="formLogin" role="form"> -->

        <div class="col-12">
            <span>Numero de cuenta:&nbsp;</span>
            <span>{{numeroCuenta}}</span>
        </div>

        <br>
        <div class="col-12" *ngIf="flagNumeroRetiro">
            <span>Valor a retirar: &nbsp;</span>

            <input pInputText type="number" min="0" [(ngModel)]="saldoNuevo">
        </div>
        <div class="col-12" *ngIf="!flagNumeroRetiro">
            <span>Código para retiro: &nbsp;</span>
            <span>{{numeroR}}</span>
            <!-- <input pInputText type="number" min="0" [(ngModel)]="numeroR"> -->
        </div>
        <br>
        <div class="col-6 col-offset-3">
            <button pButton (click)="retirar()">Retirar</button>
        </div>
    </div>

    <!-- </form> -->
</div>