<p-confirmDialog key="toast"></p-confirmDialog>
<p-toast key="appToast2" position="top-right"></p-toast>

<div style="padding-top: 95px; height: 100%;" class="grid">
    <div style="text-align: end; padding-right: 15%;">
    <form [formGroup]="formconsignar" role="form">

        <div class="col-12">
            <span>Numero de cuenta:&nbsp;</span>

            <input pInputText type="number" min="0" formControlName="ncuenta">
        </div>

        <br>
        <div class="col-12">
            <span>Monto a recargar: &nbsp;</span>

            <input pInputText type="number" min="0" formControlName="saldo">
        </div>
        <br>
        <div>
            <button pButton class="button-round button-gray text-color-white" 
                type="button" (click)="consignar()">Consignar</button>
        </div>
        <br>
        <div>
            <button pButton class="button-round button-gray text-color-white" 
                type="button" (click)="login()">Iniciar sesión</button>
        </div>
    
    </form>
</div>