.footer{
    position: absolute;
    bottom: 21px;
    left: 17px;    
    display: flex;
    align-items: flex-end;
    color: #000000;
    a{
        img{
            width: 250px;
        }
    }
}